* {
    box-sizing: border-box;
    font-family: "Helvetica-neue-Light", "Helveticaneue-light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

header > img {
    background-color: black;
    width: 100%;
    height: auto;
}

article h1,
h2,
h3 {
    text-transform: uppercase;
}


/* iPhone 6 Portrait */

@media (min-width: 380px) and (max-width: 480px) {
    img {
        width: 100%;
        height: auto;
    }
    header img {
        background-color: black;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 2em;
    }
    header > h1 {
        font-size: 1.2em;
        position: static;
    }
    header > nav,
    header > form {
        background-color: #ffce00;
        height: auto;
        margin-left: -0.34em;
        padding-right: 2.5em;
    }
    header > nav ul li {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        margin: auto;
        color: black;
        margin: 0.2em;
    }
    header li {
        border: 0.09em;
        width: 100%;
        height: auto;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.009);
        border-radius: 0.1em;
        list-style: none;
        background-color: rgba(255, 157, 0, 0.6);
        font-weight: 300;
        font-size-adjust: auto;
    }
    header > form {
        position: absolute;
        top: 380px;
        width: 100%;
        height: auto;
        padding-left: 3em;
        background-color: #ffce00;
        padding-bottom: 0.5em;
    }
    header input[type=search] {
        border: 3px solid rgba(255, 157, 0, 1);
        border-radius: 0.4em;
        height: 40px;
        width: 300px;
        -webkit-appearance: none;
        margin-left: -2em;
    }
    header button {
        border: 3px solid white;
        border-radius: 0.4em;
        background-color: #FFFfff;
        font-weight: 400;
        width: 100%
    }
    header > nav {
        width: 100%;
        height: auto;
        top: 168px;
        position: absolute;
    }
    body {
        font-size: 1.4em;
        padding-top: 480px;
    }
    main footer a {
        background-color: aqua;
        color: white;
        text-decoration: none;
    }
    main footer a:hover {
        color: black;
        text-decoration: underline;
    }
    header li a {
        color: white;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    article p {
        font-size: 0.8em;
    }
    article h1,
    h2,
    h3 {
        font-size: 1.2em;
    }
    footer {
        top: 7600px;
        position: absolute;
        background-color: #ffce00;
        color: white;
    }
}


/* iPhone 4 - 5 Portrait */

@media (min-width: 320px) and (max-width: 380px) {
    img {
        width: 100%;
        height: auto;
    }
    header img {
        background-color: black;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 2em;
    }
    header > h1 {
        font-size: 1.2em;
        position: static;
    }
    header > nav,
    header > form {
        background-color: #ffce00;
        height: auto;
        margin-left: -0.34em;
        padding-right: 2em;
        padding-bottom: 2em;
    }
    header > nav ul li {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        margin: auto;
        color: black;
        margin: 0.2em;
    }
    header li {
        border: 0.09em;
        width: 100%;
        height: auto;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.009);
        border-radius: 0.1em;
        list-style: none;
        background-color: rgba(255, 157, 0, 0.6);
        font-weight: 300;
        font-size-adjust: auto;
    }
    header > form {
        position: absolute;
        top: 380px;
        width: 100%;
        height: auto;
        padding-left: 1.3em;
        background-color: #ffce00;
        padding-bottom: 0.5em;
    }
    header input[type=search] {
        border: 3px solid rgba(255, 157, 0, 1);
        border-radius: 0.4em;
        height: 40px;
        width: 300px;
        -webkit-appearance: none;
        margin-left: -2em;
    }
    header button {
        border: 3px solid white;
        border-radius: 0.4em;
        background-color: #FFFfff;
        font-weight: 400;
        width: 100%
    }
    header > nav {
        width: 100%;
        height: auto;
        top: 155px;
        position: absolute;
    }
    body {
        font-size: 1.4em;
        padding-top: 480px;
    }
    main footer a {
        background-color: aqua;
        color: white;
        text-decoration: none;
    }
    main footer a:hover {
        color: black;
        text-decoration: underline;
    }
    header li a {
        color: white;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    article p {
        font-size: 0.8em;
    }
    article h1,
    h2,
    h3 {
        font-size: 1.2em;
    }
    footer {
        top: 8340px;
        position: absolute;
        background-color: #ffce00;
        color: white;
    }
}


/* iPad mini - Webbrowser */

@media (min-width: 480px) {
    img {
        width: 100%;
        height: auto;
    }
    header img {
        background-color: black;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 2em;
    }
    header nav {
        background-color: #ffce00;
        position: absolute;
        top: 400px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    header ul {
        height: auto;
        padding: 8px 0px;
        margin: 0px;
    }
    header li {
        display: inline;
        padding: 20px;
    }
    body {
        padding-top: 500px;
    }
}
